*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
.container-main{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e854e);
    padding: 10px;
}
.add-task{
    width: 100%;
    max-width: 500px;
    background: #ffff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.add-task h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.add-task-field{
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-weight: 14px;
}
#addButton{
    border: none;
    outline: none;
    background: linear-gradient(135deg, #153677, #4e854e);
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}
ul li{
    position: relative;
    list-style: none;
    font-size: 12px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
}
ul li ::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
}
