header {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;

    font-weight: bold;
}
main {
    display: flex;
    flex-direction: row;
}
.section__container {
    width: 75vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: beige;

    font-weight: bold;
}
.block__1 {
    width: 70vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section__1,
.section__2 {
    width: 34vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
}
.block__2 {
    width: 70vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;

    font-weight: bold;
}
aside {
    width: 25vw;
    height: 34vh;
    display: flex;
    justify-content: center;
    padding-top: 6vh;
    background-color: lightcyan;
    
    font-weight: bold;
}
footer {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: lavender;
}
.footer__section {
    width: 22vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;

    font-weight: bold;
}