@charset "UTF-8";
body {
    display: block;
    background: #E5E5E5;
}
#header {
    position: absolute;
    height: 40px;
    left: 0%;
    right: 0%;
    top: 0px;

    display: block;
    align-items: 

    background-color: #ADC9A6;
}
